.site-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .left-panel {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, .5);
  }

  .right-panel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-flex-basis: 100px;
    -ms-flex-preferred-size: 100px;
    flex-basis: 100px;
    border-top: 1px solid rgba(0, 0, 0, .5);
  }

  .top-bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .selected {
      background-color: #d6d6d6;
  }

  .hover-item{
    box-shadow: 0 3px 6px 0 #000;
  }

  .title {
    padding-top: 6px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
  }

  .top-bar-menu {
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
  }

  .top-bar-menu-btn {
    margin-right: 3px;
    margin-left: 3px;
    padding: 0px 9px;
    border-radius: 6px;
    background-color: #32a059;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
  }

  .flex-area-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .flex-area-bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .flex-top {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  .flex-bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  .flex-menu {
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
  }

  .button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    padding: 4px 8px 4px 9px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    font-size: 10px;
  }

  .menu-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .left-panel-menu-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    text-transform: none;
  }

  .form-designer-editor-line {
    margin-top: 6px;
    margin-right: 6px;
    margin-left: 6px;
  }

  .form-designer-editor-line.flex-column {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .form-designer-panel-top {
    height: 22px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: rgba(0, 152, 255, .6);
  }

  .form-designer-panel-bottom.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .form-designer-panel-bottom {
    min-height: 60px;
    padding: 12px;
    border-right: 1px dotted rgba(0, 0, 0, .5);
    border-bottom: 1px dotted rgba(0, 0, 0, .5);
    border-left: 1px dotted rgba(0, 0, 0, .5);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .form-designer-panel-name {
    display: inline-block;
    height: 20px;
    padding-bottom: 0px;
    padding-left: 6px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 10px;
  }

  .icons {
    height: 40px;
    font-family: 'Fa solid 900', sans-serif;
  }

  .action-icons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 110px;
    height: 22px;
    padding-top: 1px;
    float: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: 'Fa solid 900', sans-serif;
    color: #fff;
  }

  .text-block {
    display: inline-block;
    width: 20px;
    font-family: 'Fa solid 900', sans-serif;
    text-align: center;
  }

  .text-block-2 {
    display: inline-block;
    width: 20px;
    text-align: center;
  }

  .bold-text {
    width: 18px;
    font-weight: 400;
  }

  .text-block-3 {
    display: inline-block;
    width: 20px;
    font-family: 'Fa solid 900', sans-serif;
    text-align: center;
  }

  .text-block-4 {
    display: inline-block;
    width: 20px;
    text-align: center;
  }

  .bold-text-2 {
    font-weight: 400;
  }

  .bold-text-3 {
    font-weight: 400;
  }

  .bold-text-4 {
    font-weight: 400;
  }

  .text-block-5 {
    display: inline-block;
    width: 24px;
    color: #a70000;
    text-align: center;
  }

  .form-designer-title-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 22px;
  }

  .form-designer-title-column-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 0.33333333%;
    height: 22px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .div-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .form-designer-title-column-1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .form-designer-title-column3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .form-designer-panel-type {
    height: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 10px;
    overflow: hidden;
  }

  @font-face {
    font-family: 'Fa solid 900';
    src: url('../fonts/fa-solid-900.woff2') format('woff2'), url('../fonts/fa-solid-900.eot') format('embedded-opentype'), url('../fonts/fa-solid-900.woff') format('woff'), url('../fonts/fa-solid-900.ttf') format('truetype'), url('../fonts/fa-solid-900.svg') format('svg');
    font-weight: 400;
    font-style: normal;
  }
