.site-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .left-panel {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, .5);
  }

  .right-panel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-flex-basis: 100px;
    -ms-flex-preferred-size: 100px;
    flex-basis: 100px;
    border-top: 1px solid rgba(0, 0, 0, .5);
  }

  .top-bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .title {
    padding-top: 6px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
  }

  .top-bar-menu {
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
  }

  .top-bar-menu-btn {
    margin-right: 3px;
    margin-left: 3px;
    padding: 0px 9px;
    border-radius: 6px;
    background-color: #32a059;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
  }

  .flex-area-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .flex-area-bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .flex-top {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  .flex-bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  .flex-menu {
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
  }

  .button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    padding: 4px 8px 4px 9px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    font-size: 10px;
  }

  .menu-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .left-panel-menu-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    text-transform: none;
  }

  .form-designer-editor-line {
    margin-top: 6px;
    margin-right: 6px;
    margin-left: 6px;
  }

  .form-designer-panel-top {
    height: 22px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: rgba(0, 152, 255, .6);
  }

  .form-designer-panel-bottom {
    min-height: 60px;
    padding: 12px;
    border-right: 1px dotted rgba(0, 0, 0, .5);
    border-bottom: 1px dotted rgba(0, 0, 0, .5);
    border-left: 1px dotted rgba(0, 0, 0, .5);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .form-designer-panel-name {
    display: inline-block;
    height: 20px;
    padding-bottom: 0px;
    padding-left: 6px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 10px;
  }
